<div id='tide-graph-container'>
  <%= high_chart("graph-partial", chart) %>
</div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsmBEB76Uhe4AjnkAzZiEZjt6nRtObRJE&callback=initMap">
</script>
