<p id="notice"><%= notice %></p>
  <div id='header'>
    NOAA/NOS/Operational Oceanographic Products Active Stations
    <div class="blocktext">A Ruby on Rails Demo Interactive Map   by JoseWorks Technologies LLC</div>
  </div>
<div id="map-container-full">


  <div id="full_map"></div>
</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsmBEB76Uhe4AjnkAzZiEZjt6nRtObRJE&callback=initMap">
</script>
