$('#map-container-full').replaceWith("<div id='map-container-small'>");
$('#map-container-small').append("<div id='full_map'></div>");
$('body').append("<div id='tide-graph'>");
$("#tide-graph").html("<%=j render :partial => 'stations/graph_partial', locals: { chart: @chart } %>")