

<p id="notice"><%= notice %></p>


<!-- <p> -->
  <%# @all_station_metadata.each do |metadata| %>
<!--   <%#= metadata.station_id %><br>
  <%#= metadata.station_name %><br>
  <%#= metadata.latitude %><br>
  <%#= metadata.longitude %><br> -->
    <!-- ---------<br> -->
  <%# end %>
<!-- </p> -->


    <div id="map"></div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsmBEB76Uhe4AjnkAzZiEZjt6nRtObRJE&callback=initMap">
    </script>



<%#= high_chart("graph", @chart) %>
<%#= high_chart("some_other_id", @chart1) %>

<%#= link_to 'Back', stations_path %>

<%# @all_charts.each_with_index do |chart, index| %>
  <%#= chart.inspect %>
  <%#= high_chart("graph"+index.to_s , chart) %>
<%# end %>

