<p id="notice"><%= notice %></p>

    <div id="full_map"></div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsmBEB76Uhe4AjnkAzZiEZjt6nRtObRJE&callback=initMap">
    </script>
<div id="tide-graph">
  <%#= render partial: "graph_partial", layout: false,locals: { chart: @chart } %>
</div>
