<p id="notice"><%= notice %></p>
<div id="full_map"></div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsmBEB76Uhe4AjnkAzZiEZjt6nRtObRJE&callback=initMap">
</script>
