

<p id="notice"><%= notice %></p>


<!-- <p> -->
  <%# @all_station_metadata.each do |metadata| %>
<!--   <%#= metadata.station_id %><br>
  <%#= metadata.station_name %><br>
  <%#= metadata.latitude %><br>
  <%#= metadata.longitude %><br> -->
  <%# end %>
<!-- </p> -->


    <div id="full_map"></div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsmBEB76Uhe4AjnkAzZiEZjt6nRtObRJE&callback=initMap">
    </script>


<%= render partial: "graph_partial", locals: { chart: @chart } %>

<%#= high_chart("graph", @chart) %>
<%#= high_chart("some_other_id", @chart1) %>

<%#= link_to 'Back', stations_path %>

<%# @all_charts.each_with_index do |chart, index| %>
  <%#= chart.inspect %>
  <%#= high_chart("graph"+index.to_s , chart) %>
<%# end %>



<!-- I need to create a partial that receives the station id (or name) so I can append it on click. -->

<!-- Now I have a sigle station partial. The idea is to render it when I select a station. That implies that the view needs to pass to the controller ( or processor) the station info for it to parse the graph. -->